/* Cool colors
// #f5c21b
// #3bc1ad
// #001b29
// #1b4965
// #1f1f1f
*/

//default
$white: #ffffff;

//home
$home-boc-orange: #f77f00;
$home-box-shadow: #001b29;
$bg-home: #faf9ef;

//gallery
$bg-red: #ac0e0e;
$bg-gallery1: #2a3545;
$bg-gallery: #1f1f1f;
