@use "../../styles/colors.scss" as colors;
@use "../../styles/mixins.scss" as mixins;
.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    @include mixins.page-title;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__button {
      @include mixins.contact-button;
    }
  }
}
