@use "../../styles/colors.scss" as colors;
@use "../../styles/mixins.scss" as mixins;
@use "../../styles/utils.scss" as utils;
@use "../../styles/animations.scss" as animations;

$logo-width: 26.313rem;
$logo-height: 32.688rem;

$logo-width--small: 7rem;
$logo-height--small: 7rem;

$logo--mid: 8rem;
.home {
  background-color: colors.$bg-home;

  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;

  &__title {
    margin-top: 4%;
    text-align: center;
    @include mixins.page-title;
  }
  &__container {
    flex-wrap: wrap;
    max-height: 37vh;
    width: 40%;
    background-color: colors.$home-boc-orange;
    align-self: center;
    color: black;
    border-radius: utils.$default-border;
    padding: 1rem;
    box-shadow: 10px 10px colors.$home-box-shadow;
    text-align: center;
    &__logo {
      width: $logo-width;
      height: $logo-height;
    }
    &__description {
      font-size: 1.25rem;
      letter-spacing: 0.15em;
    }
  }
}

.animate {
  @include animations.animation-grow-width;
}
/* mobile */

@media screen and (max-width: 767px) {
  /* Styles for mobile phones */

  .home {
    &__container {
      &__logo {
        width: $logo-width--small;
        height: $logo-height--small;
      }
      &__description {
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .home {
    &__container {
      &__logo {
        width: $logo--mid;
        height: $logo--mid;
      }
      &__title {
        font-size: 2rem;
      }
      &__description {
        font-size: 1rem;
      }
    }
  }
}
