@use "../../styles/colors.scss" as colors;
@use "../../styles/mixins.scss" as mixins;

.logo {
	height: 50vh;
	width: 45vh;
}
.info {
	flex-wrap: wrap;
	max-height: 37vh;
	width: 40%;
	background-color: #f77f00;
	align-self: center;
	margin-bottom: 50px;
	color: black;
	border-radius: 20px;
	padding: 1rem;
	box-shadow: 10px 10px #001b29;
	text-align: center;
}
.nombre {
	margin-top: 4%;
	text-align: center;
	@include mixins.page-title;
}
.info p {
	font-size: 3vw;
}
.screen1 {
	background-color: colors.$bg-home;
	min-height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* mobile */
@media (min-width: 767px) {
	.info p {
		font-size: 1vw;
	}
}
@media (max-width: 1025px) {
	.screen1 {
		justify-content: center;
	}
	.nombre {
		margin-left: 0;
	}
}
@media (max-width: 1023px) and (max-height: 910px) {
	.logo {
		height: 110px;
		width: 100px;
	}
	.info {
		margin-top: 0;
		height: 40%;
	}
	.nombre {
		margin-left: 0;
	}
}
